# Laravel defaults
/vendor
/node_modules
/public/hot
/public/build
/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

# Ignore all storage files except public/uploads
/storage/*
!storage/app/
!storage/app/public/
!storage/app/public/uploads/
!storage/app/public/uploads/**

# Ignore storage symlink
/public/storage
!public/storage/uploads/
!public/storage/uploads/**

# Environment and config
.env
.env.backup
.env.production
.auth.json

# IDE / Editor / Tool specific
/.idea
/.vscode
/.fleet
/.zed
/.nova
Homestead.yaml
Homestead.json
.phpactor.json

# Log files
npm-debug.log
yarn-error.log
